<section id="user">
  <header>
    <h3>Usuarios</h3>

    <input type="date" class="input__icon-right--datepicker">
    <img src="/assets/icons/full-arrow/disabled.svg" alt="to">
    <input type="date" class="input__icon-right--datepicker">

    <div id="divider"></div>

    <button type="button" class="button__large-fill--primary with-icon-left--plus-white" (click)="addWindowOpened=!addWindowOpened">Nuevo</button>
  </header>
  <main>
    <nav class="stats">
      <section (click)="changeTab($event)" id="admin" class="active">
        <p class="h6">10</p>
        <p class="c1">Administradores</p>
      </section>
      <section (click)="changeTab($event)" id="promoter">
        <p class="h6">20</p>
        <p class="c1">Promotores</p>
      </section>
      <section (click)="changeTab($event)" id="accredited">
        <p class="h6">300</p>
        <p class="c1">Acreditados</p>
      </section>
    </nav>

    <section class="action-bar">
      <p class="p2"
        [hidden]="selectedUsers.length == 0">
        {{selectedUsers.length}} seleccionados
      </p>

      <div class="white-space"></div>

      <input type="text" class="input__icon-right--search" placeholder="Buscar">
      <button type="button" class="button__large-outline--primary">Filtros</button>

      <div class="dropdown" id="actions">
        <button type="button" (click)="toggleDropdown($event)">Acciones</button>

        <div class="options">
          <button type="button" class="action">Acción 1</button>
          <button type="button" class="action">Acción 2</button>
        </div>
      </div>

      <button type="button" class="button__large-outline--primary">Más recientes</button>
    </section>

    <app-users-table></app-users-table>

    <footer class="pagination">
      <span class="p2 hint">Pagina 1 de 3</span>
      <div class="white-space"></div>
      <button class="button__medium-outline--primary">
        anterior
      </button>
      <button class="button__medium-outline--primary">
        siguiente
      </button>
    </footer>
  </main>
</section>
