@import 'scss/app';

.background{
  width: 100vw;
  height: 100vh;
  padding-left: 50%;

  background-image: url('/assets/images/login-stock.jpg');
  background-repeat: no-repeat, repeat;
  background-position: 0 0, 0 0;
  background-size: 50% auto, 100%;

  .dialog{
    width: 445px;
    height: 100%;
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    h1{
      margin-bottom: 64px;
    }

    .error{
      width: 100%;
      background-color: map-get($theme-colors, semantic-danger);
      border-radius: 4px;
      margin-bottom: 16px;
      padding: 12px 32px 8px;
      background-image: url("/assets/icons/info/white.svg");
      background-repeat: no-repeat, repeat;
      background-size: auto 16px, 100%;
      background-position-y: 50%, 0;
      background-position-x: 3%, 0;

      p{
        margin-bottom: 0;
      }
    }

    .form{
      *{
        display: block;
        margin-bottom: 24px;
      }
      input, button{
        width: 365px;
      }
      a{
        @extend .p1.hint;
        margin-bottom: 40px;
      }
    }
  }
}
