<div class="wrapper">
  <header>
    <h1>Fenix</h1>
    <figure>
      <img src="/assets/images/login-stock.jpg" alt="">
    </figure>
    <span class="s1">{{admin.user.first_name}} {{admin.user.last_name}}</span>
    <label class="hint">Administrador</label>
  </header>
  <nav>
    <main>
      <a #route (click)="goto($event.target)" class="p2" id="statistics">Analítica</a>
      <a #route (click)="goto($event.target)" class="p2 active" id="users">Usuarios</a>
      <a #route (click)="goto($event.target)" class="p2" id="promoters">Promotores</a>
      <a #route (click)="goto($event.target)" class="p2" id="credits">Creditos</a>
      <a #route (click)="goto($event.target)" class="p2" id="payments">Pagos</a>
    </main>
    <footer>
      <a #route (click)="goto($event.target)" class="p2" id="admins">Administradores</a>
      <a #route (click)="goto($event.target)" class="p2" id="employees">Empleados</a>
      <a #route (click)="goto($event.target)" class="p2" id="equipment">Equipo</a>
      <a #route (click)="signOut()" id="logout" class="p2">Salir</a>
    </footer>
  </nav>
</div>
