<div class="wrapper">
  <header>
    <h1>Fenix</h1>
    <figure>
      <img src="/assets/images/login-stock.jpg" alt="">
    </figure>
    <span class="s1">Gerardo Garza</span>
    <label class="hint">Administrador</label>
  </header>
  <nav>
    <main>
      <a href="" class="p2 active" id="users" routerLink="/dashboard">Usuarios</a>
      <a href="" class="p2 generic" routerLink="/dashboard">Sección 2</a>
      <a href="" class="p2 generic" routerLink="/dashboard">Sección 3</a>
    </main>
    <footer>
      <a href="" class="p2 generic" routerLink="/dashboard">Sección 1</a>
      <a href="" class="p2 generic" routerLink="/dashboard">Sección 2</a>
      <a href="" class="p2 generic" routerLink="/dashboard">Sección 3</a>
    </footer>
  </nav>
</div>
