@import 'scss/app';

.wrapper{
  width: 100%;

  h6, input:first-of-type{
    margin-bottom: 24px;
  }

  input{
    width: 100%;
  }

  input:last-of-type{
    margin-bottom: 40px;
  }

  button:first-of-type{
    width: 100%;
  }
}
