@import 'scss/app';

#credit{
  padding: 40px 30px;

  header{
    display: flex;
    margin-bottom: 24px;

    & > *{
      margin-right: 16px;
    }

    h3{
      flex-grow: 1;
    }

    img{
      max-width: 24px;
    }

    input{
      &::-webkit-datetime-edit-fields-wrapper{
        width: 100%;
        z-index: 1;
        position: relative;
      }

      &::-webkit-inner-spin-button{
        display: none;
      }

      &::-webkit-calendar-picker-indicator{
        background-color: #fff;
        color: #fff;
        opacity: 0;
      }

      &::-webkit-clear-button{
        display: none;
      }
    }

    @include generate-input-with-icon(datepicker, right);

    #divider{
      height: 40px;
      width: 1px;
      background-color: map-get($theme-colors, theme-grey)
    }

    @include generate-button-with-icon(plus, white, left);
  }

  main{
    .action-bar{
      display: grid;
      grid-gap: 1px;
      grid-template-columns: 1fr 4fr;
      background-color: map-get($theme-colors, theme-grey);
      border: 1px solid map-get($theme-colors, theme-grey);
      border-bottom: 0;

      section{
        height: 70px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        padding-left: 76px;
        background-color: #fff;
        background-repeat: no-repeat, repeat;
        background-size: 24px auto, 100%;
        background-position-y: 50%, 0;
        background-position-x: 32px, 0;
        border-bottom: 1px solid map-get($theme-colors, theme-grey);
        &#total{
          background-image: url("/assets/icons/credit/default.svg");
          &.active{
            background-image: url("/assets/icons/credit/active.svg");
          }
        }
        &.active{
          border-bottom: 2px solid map-get($theme-colors, brand-secondary);
        }
        &:hover{
          background-color: darken(map-get($theme-colors, theme-white), 5%);
        }
        *{
          pointer-events: none;
        }
        p{
          width: 100%;
          margin-bottom: 0;
        }
        &#controls{
          height: 70px;
          display: flex;
          justify-content: flex-end;
          padding-left: 16px;
          padding-right: 16px;
          align-items: center;
          background-color: #fff;

          & > *{
            margin-bottom: 0;
            margin-right: 24px;
          }

          *{
            pointer-events: auto;
          }

          p{
            width: auto;
          }

          @include generate-input-with-icon(search, right);

          #print{
            background-image: url('/assets/icons/printer/default.svg');

            &:hover{
              background-image: url('/assets/icons/printer/focus.svg');
            }
          }
          #favourite{
            background-image: url('/assets/icons/star/default.svg');

            &:hover{
              background-image: url('/assets/icons/star/focus.svg');
            }
          }
        }
      }
    }

    .pagination{
      width: 100%;
      height: 52px;
      background-color: #fff;
      border: 1px solid map-get($theme-colors, theme-grey);
      border-top: none;
      border-radius: 0;
      display: flex;
      align-items: center;
      padding-left: 20px;
      padding-right: 20px;

      .white-space{
        flex-grow: 1;
      }
      & > .button__normal-outline--basic{
        width: 38px;
        height: 38px;
        min-width: auto;

        img{
          width: auto;
          height: auto;
          max-width: 10px;
        }
      }
    }
  }

  aside{
    width: 570px;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 2;
    position: absolute;
    background-color: #fff;
    overflow-y: scroll;
  }

  .modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(map-get($theme-colors, theme-white), 0.3);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper{
      overflow-y: scroll;
      background-color: map-get($theme-colors, theme-white);
      opacity: 1;
      z-index: 3;
      position: relative;
    }

    #statusModal{
      &.wrapper{
        width: 350px;
        height: 255px;
      }
    }

    #productsModal{
      &.wrapper{
        width: 570px;
        height: 480px;
      }
    }

    #paymentsModal{
      &.wrapper{
        width: 570px;
        height: 380px;
      }
    }
  }
}
