@import 'scss/app';

header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px 30px;
  border-bottom: 1px solid map-get($theme-colors, theme-grey);

  span, button[name="exit"]{
    background-repeat: no-repeat, repeat;
    background-size: auto 24px, 100%;
    background-position-y: 50%, 0;
  }

  span{
    display: inline-block;
    padding-left: 56px;
    background-position-x: 0, 0;
    background-image: url("/assets/icons/employee/default.svg");
  }

  button[name="exit"]{
    width: 30px;
    height: 30px;
    border: none;
    background-position-x: 50%, 0;
    background-image: url("/assets/icons/cross/disabled.svg");
    &:focus{
      outline-width: 3px;
      outline-offset: .5px;
      outline-color: map-get($theme-colors, system-grey);
      border-color: map-get($theme-colors, system-link);
    }
    &:hover{
      background-image: url("/assets/icons/cross/default.svg");
    }
  }
}

main{
  section{
    padding: 24px 30px 0 24px;
    border-bottom: 1px solid map-get($theme-colors, theme-grey);

    &:last-child{
      border-bottom: 0;
    }
    .control{
      &--label, &--title{
        margin-bottom: 24px;
        display: inline-block;
        width: 100%;

        label{
          color: map-get($theme-colors, theme-default);
        }

        select{
          height: 48px;
          min-width: 231px;
          padding: 9px 8px 9px 12px;
          border: 1px #eaebec solid;
          border-radius: 4px;
          font-size: 14px;
          line-height: 22px;
          letter-spacing: 0.2px;
          background-color: #fff;
        }

        &[name="phone"]{
          width: 256px;
          min-width: 256px;
          margin-right: 28px;

          #phone{
            min-width: 256px;
          }
        }

        &[name="gender"]{
          width: 150px;
          min-width: 150px;

          #gender{
            min-width: 150px;
          }
        }
      }

      &--label{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &--title{
        label{
          display: block;
        }
        .button__big{
          @extend .button__giant-outline--primary;
          height: auto;
          text-align: left;
          text-transform: none;
          padding: 9px 16px;
          width: 240px;

          &:first-child{
            margin-right: 30px;
          }
          &:active{
            h4, span{
              color: map-get($theme-colors, system-link) !important;
            }
          }
          &:hover{
            h4, span{
              color: map-get($theme-colors, system-background);
            }
          }
          h4, span{
            color: map-get($theme-colors, system-link);
            pointer-events: none;
          }
          h4{
            @extend .s1;
          }
          span{
            @extend .c1;
          }
          &.active{
            @extend .bc-primary-fill;

            h4, span{
              color: map-get($theme-colors, theme-white);
            }
          }
        }
        .button__pill{
          @extend .button__small-outline--primary;
          width: auto;
          margin-right: 10px;

          &:last-child{
            margin-right: 0;
          }
          &.active{
            @extend .bc-primary-fill;
          }
        }

        input{
          width: 100%;
        }
      }
    }
  }
}

footer{
  width: 100%;
  text-align: right;
  padding: 15px 30px;
  border-top: 1px solid map-get($theme-colors, system-grey);

  button:first-child{
    margin-right: 24px;
  }
}
