<table>
  <thead>
    <tr>
      <th><input type="checkbox" #globalCheck (change)="checkAll()"></th>
      <th>Nombre</th>
      <th>Correo</th>
      <th>Teléfono</th>
      <th>Género</th>
    </tr>
  </thead>
  <tr *ngFor="let u of users">
    <td><input type="checkbox" [checked]="u.checked" id="{{u.id}}" (change)="checkElement($event)"></td>
    <td>
      <span>{{u.user.first_name}} {{u.user.last_name}}</span>
    </td>
    <td><span>{{u.email}}</span></td>
    <td><span>{{u.user.phone}}</span></td>
    <td><span>{{u.user.gender}}</span></td>
  </tr>
  <tr *ngIf="users.length == 0">
    <td colspan="7">
      <span>No se encontraron resultados</span>
    </td>
  </tr>
</table>
