<div id="grid">
  <div id="menu">
    <app-sidebar></app-sidebar>
  </div>
  <div id="header">
    <h1>HEAD 1</h1>
    <h2>HEAD 2</h2>
    <h3>HEAD 3</h3>
    <h4>HEAD 4</h4>
    <h5>HEAD 5</h5>
    <h6>HEAD 6</h6>
    <div class="s1 hint">SUBTITLE 1</div>
    <div class="s2 disabled">SUBTITLE 2</div>
    <div class="p1">PARAGRAPH 1</div>
    <div class="p2">PARAGRAPH 2</div>
    <div class="c1 primary">CAPTION 1</div>
    <div class="c2 info">CAPTION 2</div>
    <label>LABEL</label>
    <button class="button__giant-outline--primary">Button</button>
    <button class="button__giant-outline--success">Button</button>
    <button class="button__giant-outline--info">Button</button>
    <button class="button__giant-outline--warning">Button</button>
    <button class="button__giant-outline--danger">Button</button>
  </div>
  <div id="main">
    <router-outlet></router-outlet>
  </div>
</div>
