@import 'scss/unauth';

.background{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lighten(map-get($theme-colors, theme-grey), 30%);

  .dialog{
    width: 540px;
    padding: 40px 80px;
    border-radius: 8px;
    background-color: map-get($theme-colors, theme-white);

    h1{
      text-align: center;
      margin-bottom: 40px;
    }
  }
}
