$theme-colors: (
  brand-primary: #c16e34,
  brand-secondary: #d9cfa0,
  brand-tertiary: #1f696e,

  theme-default: #222b45,
  theme-white: #ffffff,
  theme-grey: #8f9bb3,

  semantic-success: #00d68f,
  semantic-info: #0095ff,
  semantic-warning: #ffaa00,
  semantic-danger: #ff3d71
);
